.btn {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: fit-content;
  max-width: -moz-fit-content;
  border-radius: 4px;
  padding: 11px 19px;
  color: var(--title-color);
  font-family: var(--font-secondary);
  font-size: 1.1rem;
  background-color: var(--bg-button-color);
  letter-spacing: 3%;
  transition: var(--hover);

  i {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

.btn:hover {
  background-color: var(--bg-button-hover-color);
}
